<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

    <div class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">
                <img src='/assets/logo.jpeg'/>
            </a>
            <div class="nav-collapse collapse">
                <% if current_user %>
                    <p style="color:red;"> Welcome <%= current_user.name %></p>
                <% end %> 
                <ul class="nav pull-right">
                    <li><a href="/about">About</a></li>
                    <li><a href="/map">View Map</a></li>
                    <% if current_user %>
                        <li><a class="btn-header" href="/logout">Logout</a></li>
                    <% else %>
                        <li><a class="btn-header" href="/sign-up">Signup</a></li>
                        <li><a class="btn-header" href="/sign-in">Login</a></li>
                    <% end %>
                </ul>
            </div>
        </div>
      </div>
    </div>


    <div id="portfolio_tem">
        <div class="container">
            <div class="section_header">
                <h3>Portfolio item</h3>
            </div>

            <div class="span7 left_box">
                <div class="big">
                    <img src="img/folio_item1.png">
                    <img src="img/folio_item2.png">
                    <img src="img/folio_item1.png">
                    <img src="img/folio_item2.png">
                </div>
                <div class="thumbs">
                    <div class="thumb">
                        <img src="img/folio_thumb1.png">
                        <a href="#" class="mask">
                            <div class="more">+</div>
                        </a>
                    </div>
                    <div class="thumb">
                        <img src="img/folio_thumb2.png">
                        <a href="#" class="mask">
                            <div class="more">+</div>
                        </a>
                    </div>
                    <div class="thumb">
                        <img src="img/folio_thumb1.png">
                        <a href="#" class="mask">
                            <div class="more">+</div>
                        </a>
                    </div>
                    <div class="thumb last">
                        <img src="img/folio_thumb2.png">
                        <a href="#" class="mask">
                            <div class="more">+</div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="span5 right_box">
                <h2>Awesome portfolio item</h2>
                <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected ones humour, or these random words which don’t look even slightly for believable.</p>

                <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected ones humour, or these random words which don’t look even slightly for believable. If you are going to use a passage of Lorem Ipsum, you needs to been sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined. There majority have suffered. If you are going to use a passage of Lorem Ipsum, you needs to been sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined.</p>
                <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected ones humour, or these random words which don’t look even slightly for believable.</p>
            </div>
        </div>
    </div>


<h2>Bakken SpillMapr is a go-to source for user-friendly and up-to-date information on environmental spills in North Dakota, home of the world-famous Bakken oil-fields.</h2>

<object width="900" height="500" data="/assets/BakkenIMG.jpeg"></object>
 

<h2>In the last 10 years the Bakken has seen a sharp increase in oil drilling activity, which has led to a sharp increase in spill activity.  The graph below shows how the number of spills reported in the State has increased since the boom in oil activity.</h2>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<h2>This website pulls data from the State of North Dakota Environmental Incident Report database, shown below:</h2>

<object width="1000" height="500" data="http://www.ndhealth.gov/EHS/FOIA/Spills"></object>

 <h2>Bakken SpillMapr is a much more user friendly and interactive interface for the data. The site’s main goal is to increase public knowledge and exchange of information concerning spills that happen in regions with increased oil production, such as the Bakken.</h2> 

 <object width="800" height="500" data="/assets/SpillMap.jpeg"></object>


