
<p>North Dakota is Home to one of the Fastest Growing Oil Fields in the World, the Bakken. Spills have surged in the State in recent years due to accidents in this developing region. Bakken SpillTrackr extracts <a href = 'https://www.ndhealth.gov/EHS/Spills/'> Envirnmental Incident Report </a> data from the State of North Dakota website, and makes reading, visualizing, and understanding the data in user-friendly envirnment.  Users can provides post comments, additional data, and pictures on any particular spill in the database, in an effort to promote Awareness and Accountability in places like</p>

<section id="feature_slider" class="">
        <!-- 
            Each slide is composed by <img> and .info
            - .info's position is customized with css in index.css
            - each <img> parallax effect is declared by the following params inside its class:
            
            example: class="asset left-472 sp600 t120 z3"
            left-472 means left: -472px from the center
            sp600 is speed transition
            t120 is top to 120px
            z3 is z-index to 3
            Note: Maintain this order of params

            For the backgrounds, you can combine from the bgs folder :D
        -->
        <article class="slide" id="showcasing" style="background: url('http://blog.propell.com/wp-content/uploads/2014/07/bakken-oil.jpg') repeat-x top center;">
            <div class="info">
                <h2 style="color:black">North Dakota is Home to one of the Fastest Growing Oil Fields in the World, the Bakken</h2>
            </div>
        </article>
        <article class="slide" id="tour" style="background: url('http://www.nationofchange.org/2015/wp-content/uploads/horse_creek_spill.jpg') repeat-x top center;">
            <div class="info">
                <h2 style="color:black">Spills in North Dakota have Surged due Accidents in the Bakken</h2>
            </div>
        </article> 
        <article class="slide" id="ideas" style="background: url('http://cdn.oilprice.com/a/img/content/news/718x300/bf43329e80130a64a327c1b4717467e7.jpg') repeat-x top center;">
            <div class="info">
                <h2 style="color:white">SpillTrackr Provides User-Friendly Data on Many of these Spills</h2>
            </div>
        </article>
        <article class="slide" id="tour" style="background: url('http://www.nationofchange.org/2015/wp-content/uploads/horse_creek_spill.jpg') repeat-x top center;">
            <div class="info">
                <h2 style="color:black">Post Comments! Post Pictures! Promote Awareness and Accountability!</h2>
            </div>
        </article>       
    </section>