<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple markers</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 75%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
  <% @spills.each do |spill| %>
    <%= lat = spill.Latitude %>
    <%= long = spill.Longitude %>
  <% end %>
    <div id="map"></div>
    <%= @spills.each do |spill| %>
      <script>
        function initMap() {
          var myLatLng = {lat: lat, lng: long };

          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
          });

          var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Hello World!'
          });
        }
      </script>
      <% end %>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap">
      </script>
  </body>
</html>