// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#pictures {
  padding-top: 125px;
}

#map {
  height: 100%;
  border: 4px solid black;
  width: 95%;
  align: center;
}

.intro1 {
  width: 500px
}

#map_image {
  float:right
}