// Place all the styles related to the Spills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
#spill_report {
  float: left;
}

#spill_report_comment_section {
  float: left;
}*/

#form {
  padding-left: 100px
}